
@media(width > 576px){
  .grid-container{
            /* max-width:1120px; */
            width:auto;
            /* margin-inline:auto; */
            grid-template-columns:repeat(2, 16rem);
            grid-auto-rows:auto;
            /* grid-auto-flow:dense; */
            gap:2rem;
            /* outline:1px solid violet; */
  }

  .card-1{
        grid-column:span 2;
  }

  .card-4 {
        flex-direction:row;
        grid-column: span 2;
        text-align:left;  
  }
  .card-4 img{
        width:120px;
  }

  .card-5{
         flex-direction:row;
         justify-content: space-between;
         align-items:center;
         padding:2rem;
         grid-column:span 2;
         grid-row:4 / 5;
  }
  .card-5 img{
        width:180px;
        text-align:left;
  }
  .card-8{
        flex-direction:row;
        grid-column:span 2;
        grid-row: 6 / 7;
  }
  .card-8 img {
        width:200px;
  }
         
}

@media(width > 864px){
  .grid-container{
            /* max-width:1120px; */
            margin-inline:auto;
            grid-template-columns:repeat(3, 16rem);
            grid-auto-rows:auto;
            grid-auto-flow:dense;
            gap:2rem;
  }
  h1{
    font-size:3.25rem;
 }
      
  .card-1{
      grid-column:span 2;
  }

  .card-4 {
        grid-column:3;
        grid-row:1 / 3;
        flex-direction:column;
  } 

  .card-5{
         flex-direction:row;
         grid-column:2 / 4;
         grid-row:3 
  }
  .card-5 img{
        width:180px;
  }
  .card-8{
        flex-direction:row;
        grid-column: 1 / 3;
        grid-row: 4;
  }
  .card-8 img {
        width:200px;
  } 
         
}


@media (width > 1152px){

        body{
            padding-block:5rem;
        }
        h1{
           font-size:3.75rem;
        }

        h2{
          font-size:2.5rem;
          text-align:left;
        }
        .grid-container{
            max-width:1120px;
            margin-inline:auto;
            grid-template-columns:repeat(4, 16rem);
            grid-auto-rows:57px;
            gap:2rem;
        }
        .card-1{
            grid-column:2 / 4;
            grid-row:span 4;
            justify-content: center;
            align-items:center;
        }

        .card-2{
            grid-column:2 / 3;
            grid-row:5 / 8;
        }

         .card-3{
          grid-column:3 / 4;
          grid-row: 5 / 8;
          max-height:100%;
        }

        .card-4{
          grid-column:4 / 5;
          grid-row:span 7;
        }

        .card-5{
           grid-column:3 / 5;
           grid-row: span 3;
           flex-direction:row;
           padding:1.5rem;
           align-items:center;
           justify-content:center;
           gap:1rem;
        }
        .card-5 img{
           padding:0;
           max-width:45%;
           object-fit:contain;
        }
              
        .card-6{
          grid-column:2;
          grid-row: 8 / 11;
          
        }
        .card-7{
          grid-column:1;
          grid-row: 1 / 6;
          justify-content:center;
          align-items:center;
        }
        .card-7 img{
           width:192px;
        }

        .card-8{
          grid-column:1;
          grid-row: 6 / 11;
          flex-direction:column;
          justify-content: space-between;
          align-items: center;
        } 
        .card-8 img{
           width:210px;
           margin-left:10px;
        }
}